doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='https://www.google.com/recaptcha/api.js')
  body
    block content

p ((TEMPORARY HEADER))

div
    a(href="/login") login
div
    a(href="/register") register
div
    a(href="/profile") profile