include header

// tyler wip

block content
    h1 Reset Password

    p Your two new passwords do not match.

    form(method='post' action='/profile/passwordReset')
        div
            label Old Password: 
            input(name='oldPassword' required placeholder='Old Password' type='password')
        div
            label New Password: 
            input(name='newPassword' required placeholder='New Password' type='password')
        div
            label Reconfirm Password: 
            input(name='newPasswordConfirm' required placeholder='Reconfirm Password' type='password')
        div
            input(name='id' type='hidden' value=id)
            input(type='submit' value='Reset password')

//- include footer
